{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
</style>
<body>
admin





  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

 <!--  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %} -->
<br>

</body>
</html>
