{% extends 'base.html' %}

{% block content %}

<!-- <div class="container-fluid"> -->

  <h2>My Bookings</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li  class="active">
      <a data-toggle="tab" href="#ongoing">Current</a>
    </li>
    <li>
      <a data-toggle="tab" href="#future">Upcoming</a>
    </li>
    <li>
      <a data-toggle="tab" href="#past">Previous</a>
    </li>
  </ul>
  <div class="tab-content" style="margin-top:20px;">
     <!-- ongoing  -->
    <div id="ongoing" class="container tab-pane active">
      <h4>Currently Active Bookings</h4>
      <div class="table-responsive" style="border: none;">          
      <table class="table" id="mytab1" style="color: white;">
        <thead>
          <tr>
            <th>ID</th>
            
            <th>Slot</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Status</th>
            <th style="padding-left: 20px;">Cancel</th>
            
          </tr>
        </thead>
        <tbody>
          {% for item in current %}
          <tr id="r{{item.reservation_id}}">
            <td>{{item.reservation_id}}</td>
            <td >{{item.slot_id_id}}</td>
            <td>{{item.start_time}}</td>
            <td>{{item.end_time}}</td>
            <td>{% if item.engaged %}Parked {% else %}Not Parked{% endif %}</td>
            <td><button id="{{item.reservation_id}}" class="cancel btn btn-danger">Cancel</button>
            </td>
            
          </tr>
            {% endfor %}
        </tbody>
      </table>
     </div>
   </div>
 <!-- future  -->
    <div id="future" class="container tab-pane">
      <div class="table-responsive" style="border: none;"> 
            <h4>Upcoming Bookings</h4>         
      <table class="table" id="mytab1" style="color: white;">
        <thead>
          <tr>
            <th>ID</th>
            
            <th>Slot</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th style="padding-left: 20px;">Cancel</th>
            
          </tr>
        </thead>
        <tbody>
          {% for item in future %}
          <tr id="r{{item.reservation_id}}">
            <td>{{item.reservation_id}}</td>
            <td >{{item.slot_id_id}}</td>
            <td>{{item.start_time}}</td>
            <td>{{item.end_time}}</td>
            <td><button id="{{item.reservation_id}}" class="cancel btn btn-danger">Cancel</button>
            </td>
            
          </tr>
            {% endfor %}
        </tbody>
      </table>
     </div>
   </div>

   <!-- past  -->

    <div id="past" class="container tab-pane">
      <h4>Previous Bookings</h4>    
      <div class="table-responsive" style="border: none;">          
      <table class="table" id="mytab1" style="color: white;">
        <thead>
          <tr>
            <th>ID</th>
            
            <th>Slot</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th style="padding-left: 20px;">Cancel</th>
            
          </tr>
        </thead>
        <tbody>
          {% for item in past %}
          <tr id="r{{item.reservation_id}}">
            <td>{{item.reservation_id}}</td>
            <td >{{item.slot_id_id}}</td>
            <td>{{item.start_time}}</td>
            <td>{{item.end_time}}</td>
            <td>Not applicable</td>       
          </tr>
            {% endfor %}
        </tbody>
      </table>
     </div>
   </div>
  
</div>
<!-- </div> -->

<script>
    (function(window, location) {
history.replaceState(null, document.title, location.pathname+"#!/history");
history.pushState(null, document.title, location.pathname);

window.addEventListener("popstate", function() {
  if(location.hash === "#!/history") {
    history.replaceState(null, document.title, location.pathname);
    setTimeout(function(){
      location.replace("/grid/grid");
    },0);
  }
}, false);
}(window, location));
  </script>

<script type="text/javascript">

  $( document ).ready(function() {

    $(".cancel").click(function(event){
      reservation_id=$(this).attr('id');
      $.ajax({
        type: 'POST',
        url: "{% url 'bookapp:cancelslot' %}",
        data: {"reservation_id":reservation_id,} ,
        dataType : 'json',
        success: function(response) { 
         let status=response["status"]
         if(status==1){
           $("#r"+ reservation_id).remove()
         }
         else if(status==2){
            alert("If you are already parked, please move your car before canceling")
         }
         else if(status==5){
            alert("Your reservation as already expired no need canceling")
         }
         else{
           alert("try again")
         }
       },
    });
    })
   }); 
// setInterval(function() {
// // var d = new Date();
// // var t={{item.2.time}};
// // var ct=d.getHours()+":"+d.getMinutes();
// //   if(t >= ct ){
// //     document.getElementById("cancelbtn").disabled = true;

// //   }
// //   var table = document.getElementById("mytab1");
// for (var i = 1, row; row = table.rows[i]; i++) {

//    // for (var j = 0, col; col = row.cells[j]; j++) {
      
//    // } 
//    var d = new Date();
//     var t=document.getElementsByClassName("table")[0].rows[i].cells[2];
//     var ct=d.getHours()+":"+d.getMinutes();
//     if(t >= ct ){
//     // document.getElementsByClassName("table")[0].rows[i].cells[5].childNodes[0].disabled = true;
//     document.getElementsByClassName("table")[0].rows[i].cells[4].style.backgroundColor="green";

//   } 
// }
 
// }, 60000);

</script>

{% endblock %}