<html>
    <head>
        <title>railway reservation form </title>
    </head>
    <body bgcolor="#0AAFFBC">
    <form name="railway">
        <center>
        <h1><marquee bgcolor="#0FBF00">Car parking lot Reservation System </marquee> </h1>
     <table>
     <tr>
         <td>start time</td>
         <td><input type="text" name=""railway"</td>
         </tr>
     <tr>
     <td>end time</td>
     <td><input type="text" name="txt2"</td>
             </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name=""</td></tr>
         <tr>
         <td>Age:</td>
         <td><input type="number" name=""</td>
         </tr> 
         <tr>
         <td>Address:</td>
         <td><input type="text" nqme=""</td></tr> 
          <tr>
          <td>Payment options:</td>
         <td> 
          <input type="radio" name="payment" value="cc" />Credit Card <br />
<input type="radio" name="payment" value="dc" />Debit card <br /> 
<input type="radio" name="payment" value="wallet">wallet<br/>
        </td>
          
          <tr>
           <td><input type="button" value="submit" id="mybutton"></td>
           <td><input type="submit" value="Cancel"</td></tr>   
         </table> 
         <script src="project3.js">

        </script>  
    </body>
</html>