
{% extends 'base.html' %}

{% block content %}

	<div class="container">
    <!-- {% if alert %}
    <div class="alert alert-info alert-dismissible">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     <strong>Sorry</strong> {{alert}}
    </div>
    {% endif %} -->
<form class="form-inline" action="" method="POST">
	<div class="form-group">
  <label style=" font-size: 15px; color: white;  margin: 0;">Start Date:</label>
  <input id="sdate" class="form-control" type="date" name="dst" required="required" onblur="document.getElementById('dst').value = this.value;" >
  <input id="stime" class="form-control" type="time" name="st" required="required" onblur="document.getElementById('st').value = this.value;" >
</div>
<div class="form-group">
  <label style=" font-size: 15px; color: white;  margin: 0;">  End Date:</label>
  <input id="edate" class="form-control" type="date" name="det" required="required" onblur="document.getElementById('est').value = this.value;" >
  <input id="etime" class="form-control" type="time" name="et" required="required"  onblur="document.getElementById('et').value = this.value;" >
</div>
  <button class="btn btn-primary" type="submit">Search</button>
</form>

<h3 style="color: white;">{% if st  %}Slots Available from {{dst}},  {{st}} to {{det}} {{et}} : {% else %} Current Slot availability: {% endif %}</h3>
	<h4 style="color: white;">or</h4>
	<button class="btn btn-primary" onclick="window.location.href='/grid/grid'">Check Current Slot availability</button>


</div>
<div class="col-lg-4 col-lg-offset-4 col-sm-12 col-md-12" style="text-align: center; overflow:scroll;">

    <svg class="bg"  preserveAspectRatio="xMinYMin meet"  height="230px"  style="margin:20px auto; display: block; overflow:visible;" >
<g {% if not result.0.1 %}onclick="test(this,{{result.0.0 }})"{% endif %}>
  <rect id="r{{result.0.0}}" x="10" y="10" width="100" height="210"  class="{%if st %}{% if result.0.1 %}  redrect {% else %}  greenrect {% endif %} {%endif%}"  style="stroke-width:3;stroke:rgb(0,0,0);cursor:{% if result.0.1 %} not-allowed {% else %} pointer {% endif %} ;"></rect>
<text x="25" y="50" font-size="25" fill="black"> {{result.0.0}} </text>
</g>
<g {% if not result.1.1 %}onclick="test(this,{{result.1.0}})"{% endif %}>
  <rect id="r{{result.1.0}}" x="115" y="10" width="100" height="210" class="{%if st %}{% if result.1.1 %}  redrect {% else %}  greenrect {% endif %} {%endif%}" style="stroke-width:3;stroke:rgb(0,0,0);cursor :{% if result.1.1 %} not-allowed {% else %} pointer {% endif %} ;"></rect>
<text x="130" y="50" font-size="25" fill="black"> {{result.1.0}} </text>
</g>
<g {% if not result.2.1 %}onclick= "test(this,{{result.2.0}})"{% endif %}>
  <rect id="r{{result.2.0}}" x="220" y="10" width="100" height="210"  class="{%if st %}{% if result.2.1 %}  redrect {% else %}  greenrect {% endif %} {%endif%} "  style="stroke-width:3;stroke:rgb(0,0,0);cursor :{% if result.2.1 %} not-allowed {% else %} pointer {% endif %} ;"></rect>
<text x="235" y="50" font-size="25" fill="black"> {{result.2.0}} </text>
</g>
<g {% if not result.3.1 %}onclick="test(this,{{result.3.0}})"{% endif %}>
  <rect id="r{{result.3.0}}" x="325" y="10" width="100" height="210"  class="{%if st %}{% if result.3.1 %}  redrect {% else %}  greenrect {% endif %} {%endif%}"  style="stroke-width:3;stroke:rgb(0,0,0);cursor :{% if result.3.1 %} not-allowed {% else %} pointer {% endif %} ;"></rect>
<text x="340" y="50" font-size="25" fill="black"> {{result.3.0}} </text>
</g>

</svg>
</div>
<div class="col-lg-12 col-sm-12" style="text-align: center;">

<form action="/registerform/registerform" method="POST" onsubmit="return validate({{stat}}==1)">
  <input type="hidden" name="sdate" id="dst" value="{{dst}}">
  <input type="hidden"  name="edate" id="det" value="{{det}}">
  <input type="hidden" name="stime" id="st" value="{{st}}">
  <input type="hidden"  name="etime" id="et" value="{{et}}">
  <input id="slotselected" type="hidden" name="slotselected" required="required">
  <input class="btn btn-primary" type="submit" value="Book selected Slot">
</form>
</div>

</div>

<script type="text/javascript">
  // var d = new Date();

$(document).ready(function(){
setInterval(function() {
var d = new Date();
  document.getElementById("stime").defaultValue = d.getHours()+":"+d.getMinutes();
  document.getElementById('st').value = document.getElementById('stime').value;
  document.getElementById('et').value = document.getElementById('etime').value;

}, 60000);

{% if not st %}
    setInterval(function(){
    //var catid;
    //catid = $(this).attr("data-catid");
    if(!$.active)
    $.ajax(
    {
        type:"GET",
        url: "/grid/grid/",
        dataType : 'json',
          data:{
                 status:"true",
        }, 
        
        success: function( data ) 
        {
          
            for(var i=0;i<=3;i++){
              element = document.getElementById("r"+i);
                if (data[i]==1){
                  // console.log(data[i]);
                  element.classList.add("redrect");
                  element.classList.remove("greenrect");
                }
                else{
                  // console.log("two");
                  element.classList.add("greenrect");
                  element.classList.remove("redrect");
                }
          }
          // console.log(data[0]);
          //  console.log(typeof data);
          //  console.log(data);
        }
     })
}, 2000);
{% endif %}
});
</script>



{% endblock %}

